div {
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 50px;
    border: 3px solid green;
    background-color: azure;
}

.main {
height: 320px;
overflow-y:auto;
}

ol {
    margin-left: 100px;
    list-style-type:lower-roman;
}

li {
     color: red;
     font-size: xx-large;
}

h1 {
    font-size: xx-large;
    color: blue;
    text-align: center;
    text-decoration: underline;
}

caption {
    border: 3px solid blue;
    font-size: xx-large;
    color: forestgreen;
    background-color: aliceblue;

}

table {
    margin-left: 55px;
    border: 3px solid blue;
    background-color: aliceblue;
}

td {
    border: 1px solid black;
    color: blue;
    font-size: x-large;
}